@import "tailwindcss";

/* RTL adjustments */
html[dir="rtl"] body {
  direction: rtl;
}

html[dir="rtl"] .text-left {
  text-align: right;
}

html[dir="rtl"] .text-right {
  text-align: left;
}

/* Add more RTL specific styles as needed */


