---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Hero from '../../components/Hero.astro';
import Services from '../../components/Services.astro';
import About from '../../components/About.astro';
import Footer from '../../components/Footer.astro';

import content from '../../content/content.json';

const currentLocale = 'de';
const pageContent = content.home[currentLocale] || content.home.de;
---

<Layout title={pageContent.title} description={pageContent.description}>
	<Header />
	<main>
		<Hero hero_heading={pageContent.hero_heading} hero_subheading={pageContent.hero_subheading} />
		<Services />
		<About />
	</main>
	<Footer />
</Layout>

<style>
	main {
		margin: auto;
		width: 100%;
	}
</style>


